<h1>About</h1>
<p>
  My name is Jacob Swartzentruber and I am currently learning how to design
  web applications.  I have been an avid climber for the past few years and
  decided I needed an application to track routes and workouts.
</p>
<p>
  You can check out the progress I have made teaching myself web application
  development in <a href="http://jacobswartzentruber.github.io/">my blog and portfolio here</a>.
</p>