<h1>Contact</h1>
<p>This web application was designed by Jacob Swartzentruber</p>
<p>
  You can check out the progress I have made teaching myself web application
  development in my blog, <a href="https://acuriouscrossbreed.wordpress.com/">
  A Curious Crossbreed</a>.
</p>
