<p>
  <%= link_to climber.user.name, climber_path(climber) %> (<%= climber.user.email %>)
  <% if current_user.admin? && !current_user?(climber.user) %>
    <%= link_to "delete", climber, method: :delete,
                                data: { confirm: "You sure?" } %>
  <% end %>
</p>