<h1><%= @climber.user.name %>'s Profile</h1>
<div class="row">
  <section class="col-md-8 col-md-offset-2">
    <h2> <%=@climber.user.name%>'s Routes </h2>
    <ol class="routes">
    	<%= render @climber.routes %>
  	</ol>
  </section>
</div>