<h1><%= @climber.user.name %>'s Profile</h1>
<div class="row">
  <section class="col-md-6">
    <h2> Projects </h2>
    <div class="routes">
    	<%= render @climber.routes.uncompleted %>
  	</div>
  </section>
  <section class="col-md-6">
    <h2> Completed Routes </h2>
    <div class="routes">
    	<%= render @climber.routes.completed %>
  	</div>
  </section>
</div>