<h1><%= @climber.user.name %>'s Profile</h1>
<div class="row">
  <section class="col-md-6">
    <h2> My Routes </h2>
  </section>
  <section class="col-md-6">
    <h2> My Workout </h2>
  </section>
</div>