<h1><%= @gym.user.name %>'s Profile</h1>
<div class="row">
  <section class="col-md-6">
    <h2> Current Routes </h2>
    <div class="routes">
      <% if current_user == @gym.user %>
        <%= link_to "Create a New Route", new_gym_route_path(@gym),
                    class: "btn btn-primary btn-xs"%>
      <% end %>
	    <%= render @gym.routes %>
    </div>
  </section>
  <section class="col-md-6">
    <h2> Upcoming Events </h2>
  </section>
</div>