<h1><%= @gym.user.name %>'s Gym Profile</h1>
<section class="profile-header">
  <h2><%= @gym.user.email %></h2>
</section>
<div class="row">
  <section class="col-md-6">
    <h2> Current Routes </h2>
  </section>
  <section class="col-md-6">
    <h2> Upcoming Events </h2>
  </section>
</div>